.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.home {
  background-color: $color-grey-light-1;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__like {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    width: 2rem;
    height: 2rem;
    fill: $color-primary;
    justify-self: end;
    margin: 1rem;

    cursor: pointer;
  }

  &__name {
    font-size: 1.5rem;
    grid-column: 1 / -1;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    svg {
      fill: $color-primary;
      width: 2rem;
      height: 2rem;
      margin-right: .7rem;
    }
  }
}